<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .form-heading {
            font-size: 40px;
            color: red;
            position: relative;
            top: -50px;
        }

        .gradient-custom {
            background: #f093fb;
            background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
            background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
        }

        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration .select-arrow {
            top: 13px;
        }
    </style>
</head>
<body>

<div class="container">
    <form id="registrationForm" th:action="@{/register}" th:object="${user}" method="post" class="form-horizontal" >


        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 col-lg-9 col-xl-7">
                        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                            <div class="card-body p-4 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="color:blue">Trang Đăng Ký</h3>

                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">
                                        <input type="text" th:field="*{username}" placeholder="Enter username" class="form-control">
                                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
                                    </div>
                                    <div class="col-md-6 mb-4 pb-2">
                                        <input type="password" id="password" th:field="*{password}" placeholder="Enter password" class="form-control">
                                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">
                                        <input type="password" id="passwordConfirm" placeholder="Enter password again" class="form-control">
                                        <div id="passwordConfirmError" class="text-danger"></div>
                                    </div>

                                    <div class="col-md-6 mb-4 pb-2">
                                        <input type="email" id="email" th:field="*{email}" placeholder="Enter email" class="form-control">
                                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4 pb-2">
                                    <select th:field="*{roles}" class="form-control">
                                        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
                                    </select>
                                    <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="text-danger"></div>
                                </div>



                                <div class="mt-4 pt-2">
                                    <input class="btn btn-primary btn-lg" type="submit" value="Submit"/>
                                </div>
                                <a th:href="@{/showLoginPage}">Return Login</a>

                                <!-- Thông báo đăng ký thành công -->
                                <div id="successMessage" class="alert alert-success mt-3" style="display: none;">
                                    Đang chờ xác thực tài khoản, vui lòng quay lại trang chủ
                                </div>
                                <p class="mb-5 pb-lg-2" style="color: #393f81;"> <p><a th:href="@{/public}"> Quay lại trang chủ </a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>

<script>
    document.getElementById("registrationForm").addEventListener("submit", function(event) {
        var password = document.getElementById("password").value;
        var passwordConfirm = document.getElementById("passwordConfirm").value;
        var passwordConfirmError = document.getElementById("passwordConfirmError");

        if (password !== passwordConfirm) {
            passwordConfirmError.textContent = "Password again không trùng khớp với password";
            event.preventDefault();
            return false;
        }

        passwordConfirmError.textContent = "";

        var successMessage = document.getElementById("successMessage");
        successMessage.style.display = "block";

        // Chặn form submit để hiển thị thông báo
        event.preventDefault();

        // Để form submit sau khi hiển thị thông báo một thời gian ngắn
        setTimeout(function() {
            document.getElementById("registrationForm").submit();
        }, 3000);

        return true;
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
