<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="admin/fragments/header :: header"></div>

    <div sec:authorize="hasRole('ADMIN')" th:replace="admin/fragments/sidebar_admin :: sidebar"></div>

    <!-- Hiển thị sidebar của Student -->
    <div sec:authorize="hasRole('STUDENT')" th:replace="admin/fragments/sidebar_student :: sidebar"></div>

    <!-- Hiển thị sidebar của Teacher -->
    <div sec:authorize="hasRole('TEACHER')" th:replace="admin/fragments/sidebar_teacher :: sidebar"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->


    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->


        <section class="intro">




                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" id="searchID" placeholder="Nhập ID...">
                                    <span class="input-group-btn">
                                         <a class="btn btn-success btn-custom-size" onclick="filterID()">Tìm Kiếm</a>
                                        <a class="btn btn-info btn-custom-size_2" onclick="sortScore()">Sắp xếp</a>

                                     </span>
                                </div>




                            <div th:if="${errorMessage}">
                                <div class="alert alert-danger" th:text="${errorMessage}"></div>
                            </div>

                            <p></p>



                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div>
                                        <div class="card-body">
                                            <div class="table-responsive" id="tableContainer">

                                                <table class="table table-light table-borderless mb-0" >
                                                    <thead>
                                                    <tr>

                                                        <th scope="col">Điểm Toán</th>
                                                        <th scope="col">Điểm Lý</th>
                                                        <th scope="col">Điểm Hóa</th>
                                                        <th scope="col">Điểm Sinh</th>
                                                        <th scope="col">Điểm Văn</th>
                                                        <th scope="col">Điểm Sử</th>
                                                        <th scope="col">Điểm Địa</th>
                                                        <th scope="col">Điểm Tiếng Anh</th>
                                                        <th scope="col">Điểm TB</th>
                                                        <th scope="col">ID_SinhVien</th>
                                                        <th scope="col">Xử Lý</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="scores : ${scores}">

                                                        <td th:text="${scores.diemToan}" ></td>
                                                        <td th:text="${scores.diemLy}" ></td>
                                                        <td th:text="${scores.diemHoa}" ></td>
                                                        <td th:text="${scores.diemSinh}" ></td>
                                                        <td th:text="${scores.diemVan}" ></td>
                                                        <td th:text="${scores.diemSu}" ></td>
                                                        <td th:text="${scores.diemDia}" ></td>
                                                        <td th:text="${scores.diemAnh}" ></td>
                                                        <td th:text="${scores.diemTrungBinh}" ></td>
                                                        <td th:text="${scores.student.id}" ></td>

                                                        <td>

                                                            <a  sec:authorize="hasRole('TEACHER')" th:href="@{/scores/update(id=${scores.id})}" class="btn btn-info btn-sm">
                                                                Chỉnh sửa
                                                            </a>
                                                            <a  sec:authorize="hasRole('ADMIN')"  th:href="@{/scores/delete(id=${scores.id})}" class="btn btn-danger btn-sm"
                                                               onclick="return confirm('Bạn có chắc chắn xóa bảng điểm này này không?');">
                                                                Xóa
                                                            </a>


                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
        </section>


    </div>
    <!-- /.content-wrapper -->
    <div th:replace="admin/fragments/footer :: footer"></div>

</div>
<!-- ./wrapper -->

<script>

    function sortScore() {
        window.location.href = "/scores/sortByAverage";
    }
</script>


<script>
    function filterID() {
       var filterID = document.getElementById('searchID').value;
       if (filterID) {
           window.location.href = "/scores/searchID?id=" + filterID;
       } else {
           alert("Vui lòng nhập ID cần tìm.");
           return;
       }
    }

</script>
<!-- jQuery 3 -->

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery-ui.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/adminlte.min.js}"></script>
<script th:src="@{/assets/js/dashboard.js}"></script>
<script th:src="@{/assets/js/function.js}"></script>
</body>
</html>
